@import "tailwindcss";

@theme {
  --animate-scan: scan 2s ease-in-out infinite;
  @keyframes scan {
    0%, 100% {
      top: 0;
    }
    50% {
      top: calc(100% - 4px);
    }
  }
}

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: -webkit-fill-available;
  height: 100%;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.bottom-nav-fixed {
  position: fixed;
  bottom: calc(1.5rem + env(safe-area-inset-bottom));
}
